@media screen and (max-width: 848px) {
    .image {
        width: 1550px;
    }
    .kotak2 {
        width: 1550px;
    }
    .k2 {
        width: 1550px;
    }
    .kotak1 {
        width: 1550px;
    }
    .k1 {
        width: 1550px;
    }
}